@model IEnumerable<CmsShoppingCart.Areas.Admin.Models.ViewModels.Shop.OrdersForAdminVM>

@{
    ViewBag.Title = "Porudzbine";
}

<h2>Porudzbine</h2>

@if (! Model.Any())
{
    <h3 class="text-center">Nema porudzbina.</h3>
}
else
{
    <table class="table">
        <tr>
            <th>
                Broj porudzbine
            </th>
            <th>
                Korisnicko ime
            </th>
            <th>
                Detalji porudzbine
            </th>
            
            <th>
                Kreirana
            </th>
            <th>
                Ukupno
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @foreach (var item2 in item.ProductsAndQty)
                {
                    @item2.Key @:x @item2.Value <br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                €@Html.DisplayFor(modelItem => item.Total)
            </td>
        </tr>
    }

    </table>
}
