@model IEnumerable<CmsShoppingCart.Models.ViewModels.Shop.ProductVM>

@{
    ViewBag.Title = "Proizvodi";
}

@using PagedList.Mvc; 
@using PagedList;

<h2>Proizvodi</h2>

<select id="SelectCategory" name="SelectCategory">
    <option value="0">Svi</option>
    @foreach (var item in ViewBag.Categories)
    {
        if (ViewBag.SelectedCat == item.Value)
        {
            <option selected="selected" value="@item.Value">@item.Text</option>
        }
        else
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</select>
<br /><br />

<p>
    @Html.ActionLink("Dodaj novi proizvod", "AddProduct")
</p>

<table class="table">
    <tr>
        <th>
            Ime
        </th>
        <th>
            Opis
        </th>
        <th>
            Cena
        </th>
        <th>
            Slika
        </th>
        <th></th>
    </tr>

    @foreach (var product in ViewBag.OnePageOfProducts)
    {
        <tr>
            <td>
                @product.Name
            </td>
            <td>
                @product.Description
            </td>
            <td>
                €@product.Price
            </td>
            <td>
                <a href="/admin/shop/EditProduct/@product.Id">
                    <img src="/Images/Uploads/Products/@product.Id/Thumbs/@product.ImageName" />
                </a>
            </td>
            <td>
                @Html.ActionLink("Izmeni", "EditProduct", new { id = product.Id }) |
                @Html.ActionLink("Obrisi", "DeleteProduct", new { id = product.Id }, new { @class = "delete" } )
            </td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Products", new { page, catId = ViewBag.SelectedCat }))

@section Scripts {
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script>

$(function () {

    /*
    * Select products from specified category
    */

    $("#SelectCategory").on("change", function () {
        var url = $(this).val();

        if (url) {
            window.location = "/admin/shop/Products?catId=" + url;
        }

        return false;
    });

    //////////////////////////////////////////////////////////////

    /*
    * Confirm product deletion
    */

    $("a.delete").click(function () {
        if (!confirm("Potvrdi brisanje!")) return false;
    });

    //////////////////////////////////////////////////////////////

});

</script>

}